@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    background-color: black;
    font-family:"Roboto" , serif;
}
h1{
    font-size: 40px; 
    margin-bottom: 10px;
    margin-top: 15px;
    text-decoration:none;
}
#instagram{
    font-size: 18px;
    text-decoration: underline;  
}
p{
    margin-bottom: 45px;
}
#conteiner{
    text-align: center;
    background-color: darkslategrey; 
    border-radius: 30px;
    width: 370px;
    height: 640px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
}
ul, a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
ul{
    margin-top: 30px;
}
li{
    margin-bottom: 30px;
    width: 300px;
    height: 40px;
    background-color: dimgrey;
    border-radius: 5px;
    transition: filter .5s;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 1)
}
img{
    margin-top: 25px;
    top: 40px;
    border: 3px solid black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding: 3px;
}
footer{
    margin-top: 90px;
    margin-bottom: 10px;
}
li:hover{
    filter: brightness(1.5);
} 
#footer{
    font-size: 16px;
    text-decoration: underline;
}